@import 'variables';
@import 'mixins';

.albumCoverWithInfo {
  width: 100%;
  background-color: $darkGray;
  color: $lightGray;
  border-radius: 0 0 .5rem .5rem;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:hover {
    color: $blue;
  }
}

.albumInfoBox {
  padding: .125rem;
  padding-left: 1rem;
}
