@font-face {
  font-family: 'Berlin';
  src:local('Berlin');
  src:url('./../fonts/Berlin.ttf');
}

@font-face {
  font-family: 'Berlin Bold';
  src:local('Berlin Bold');
  src:url('./../fonts/Berlin Bold.ttf');
}

@font-face {
  font-family: 'Uberlin';
  src:local('Uberlin');
  src:url('./../fonts/Uberlin.ttf');
}

@font-face {
  font-family: 'Uberlin Bold';
  src:local('Uberlin Bold');
  src:url('./../fonts/Uberlin Bold.ttf');
}
