@import 'variables';
@import 'mixins';

.albumGrid {
  display: grid;
  padding: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: .5rem;
  margin-top: 6rem;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
