// text styles
@mixin allCapsGrayOnBlack {
  font-family: "Uberlin Bold";
  font-size: 1.125rem;
  color: $gray;
  margin: 0;
}

@mixin allCapsWhiteOnBlack {
  font-family: "Uberlin Bold";
  color: $white;
  margin: 0;
}

@mixin headerLinks {
  font-family: "Uberlin Bold";
  font-size: 1rem;
  color: $red;
  width: 5rem;
  margin-right: 2.5rem;
  text-decoration: none;
}

@mixin actionElement {
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  padding: .25rem;
  color: $lightGray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &:active {
    transform: scale(1.05);
    border-radius: .25rem;
  }
}
