// colors
$white: #f8f8f9;
$lightGray: #99AABB;
$gray: #546271;
$darkGray: #3B4A59;
$lightBlack: #14181b;
$black: #21282f;
$blue: #5293b4;
$darkblue: #1e3051;
$green: #1CB029;
$darkGreen: darken($green, 10%);
$orange: #c95c07;
$red: #7d0d07;

// gradients
$gradientBlackSmall: linear-gradient(#21282f 10%, #14181b 90%);
$gradientBlackBig: linear-gradient(#21282f 6rem, #14181b);
