// colors
$white: #f8f8f9;
$gray: #546271;
$lightBlack: #14181b;
$black: #21282f;
$blue: #5293b4;
$darkblue: #1e3051;
$orange: #c95c07;
$red: #7d0d07;

// gradients
$gradientBlack: linear-gradient(#21282f 10%, #14181b 90%);
